.container-fluid{
    /* padding: 0px; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}


.loginbg{
    background: url('../assets/twitterbg.jpg');
    max-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}